# Core functionality - changes here should be rare!
/src/app.py                   @XxToxiNe
/src/backend/database.py      @XxToxiNe
/src/backend/routers/auth.py  @XxToxiNe

# The frontend will need refactored soon to be more object oriented.
/src/static/   @XxToxiNe
